apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-script
  namespace: weather-app
data:
  init-grafana-user.sh: |
    #!/bin/bash
    set -e
    
    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
        -- Create grafana_reader user if it doesn't exist
        DO
        \$do\$
        BEGIN
           IF NOT EXISTS (
              SELECT FROM pg_catalog.pg_roles
              WHERE  rolname = 'grafana_reader') THEN
              CREATE ROLE grafana_reader LOGIN PASSWORD 'grafana_secure_password';
           END IF;
        END
        \$do\$;

        -- Grant read permissions
        GRANT CONNECT ON DATABASE weather_db TO grafana_reader;
        GRANT USAGE ON SCHEMA public TO grafana_reader;
        GRANT SELECT ON ALL TABLES IN SCHEMA public TO grafana_reader;
        ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT SELECT ON TABLES TO grafana_reader;
    EOSQL
